<!-- Modal Extraxion SQL-->
<div class="modal fade bd-example-modal-lg" id="tableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Extraccion de Datos</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div *ngIf="tablas">
          <h1>:O</h1>
        </div>
        <!--<div *ngIf="datosTablaE[]legida">
          <h1>tabla elegida</h1>
        </div>-->
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar y Salir</button>
      </div>

    </div>
  </div>
</div>