
<div #myDiagramDiv style="width:100%; height:400px; background-color: #DAE4E4;"></div>

<!-- Modal Base de datos-->
<div class="modal fade bd-example-modal-lg" id="databaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="kiu">Base de datos</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Conexion a la base de datos-->
        <form #f2="ngForm" (ngSubmit)="tryConexion2(f2)" novalidate>

          <div class="form-group">
            <select class="form-control" id="sgbd2" name="conex" #conex="ngModel" ngModel required>
              <option *ngFor="let tab of ['mysql','postgresql','oracle']" [value]="tab">{{tab}}</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="host" ngModel #host="ngModel" placeholder="Host">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="port" ngModel #port="ngModel" placeholder="Puerto">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="user" ngModel #user="ngModel" placeholder="Usuario">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="passwd" ngModel #passwd="ngModel" placeholder="Contraseña">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="db" ngModel #db="ngModel" placeholder="Base de Datos">
          </div>

          <button type="submit" class="btn btn-primary">Conectarse</button>
        </form>
        <br>
        <h3>{{mensajeConexion}}</h3>
      </div>
    </div>
  </div>
</div>

<!-- Modal Union de campos-->
<div class="modal fade bd-example-modal-lg" id="unionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="kiu">Union de campos</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!--atri.COLUMN_NAME+"_"+atri.TABLE_NAME   id :)-->
        <form #f3="ngForm" (ngSubmit)="camposSelected(f3)" novalidate>
          <ul class="list-group">
            <li *ngFor="let atri of aIdAtributos2" class="list-group-item">
              <input class="form-check-input" name="{{ 'atri'+ atri}}" ngModel  type="checkbox" value="" id="{{ 'atri'+ atri}}" >
              <label class="form-check-label" for="{{ 'atri'+ atri }}">
                {{allAtributos2[atri].COLUMN_NAME +'('+allAtributos2[atri].TABLE_NAME+')'}}
              </label>
            </li>
          </ul>
          <br>
          <button type="submit" class="btn btn-primary">Unir Campos</button>
        </form>
      </div>
      <div *ngIf="isUnion3">
        <h3> Sus datos han sido unidos</h3>
      </div>



    </div>
  </div>
</div>

<!-- Modal Cargar Datos-->
<div class="modal fade bd-example-modal-lg" id="cargarDatosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Cargar Datos</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let atri of atributos3" scope="col">{{atri}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let datos of camposUnidos3"> <!--Filas -->
              <td *ngFor="let atri of atributos3">{{datos[atri]}}</td><!--Columnas -->
            </tr>
          </tbody>
        </table>
        <br>
        <button class="btn btn-primary" (click)="loadToDatabase3()">Cargar datos </button>

      </div>
      <div *ngIf="resultLoad3">
          <h3>Se han cargado los datos correctamente</h3>

      </div>

    </div>
  </div>
</div>
