
<div #myDiagramDiv style="width:100%; height:500px; background-color: #DAE4E4;"></div>
<!-- Modal Extraxion SQL-->
<div class="modal fade bd-example-modal-lg" id="tableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Extraccion de Datos</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div *ngIf="resultConexion2;else sinConexion">
              <form><!--Si la conexion esta correcta-->
                <div class="form-group">
                  <label for="sgbd">Seleccionar Tabla</label>
                  <select class="form-control" id="sgbd">
                    <option *ngFor="let tab of tablas" (click)="tablaElegida(tab)" [value]="tab">{{tab.TABLE_NAME}}</option>
                  </select>
                </div>
              </form>
            </div>
            <div *ngIf="datosTablaElegida">
              <table class="table">
                <thead>
                  <tr>
                    <th *ngFor="let atri of atributo" scope="col">{{atri.COLUMN_NAME}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let datos of datosTablaElegida"> <!--Filas -->
                    <td *ngFor="let atri of atributo">{{datos[atri.COLUMN_NAME]}}</td><!--Columnas -->
                  </tr>
                </tbody>
              </table>
          </div>
          <ng-template #sinConexion><h5>Error en la conexion</h5></ng-template>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar y Salir</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal Base de datos-->
<div class="modal fade bd-example-modal-lg" id="databaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="kiu">Base de datos</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Conexion a la base de datos-->
        <form #f2="ngForm" (ngSubmit)="tryConexion2(f2)" novalidate>
          <div class="form-group">
            <select class="form-control" id="sgbd2" name="conex" #conex="ngModel" ngModel required>
              <option *ngFor="let tab of ['mysql','postgresql','oracle']" [value]="tab">{{tab}}</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="host" ngModel #host="ngModel" placeholder="Host">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="port" ngModel #port="ngModel" placeholder="Puerto">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="user" ngModel #user="ngModel" placeholder="Usuario">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="passwd" ngModel #passwd="ngModel" placeholder="Contraseña">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="db" ngModel #db="ngModel" placeholder="Base de Datos">
          </div>
          <button type="submit" class="btn btn-primary">Conectarse</button>
        </form>
        <br>
        <h3>{{mensajeConexion}}</h3>
      </div>
    </div>
  </div>
</div>

<!-- Modal Cargar Datos-->
<!--
<div class="modal fade bd-example-modal-lg" id="cargarDatosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Cargar Datos</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let atri of atributos3" scope="col">{{atri}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let datos of camposUnidos3"> 
              <td *ngFor="let atri of atributos3">{{datos[atri]}}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <button class="btn btn-primary" (click)="loadToDatabase3()">Cargar datos </button>

      </div>
      <div *ngIf="resultLoad3">
          <h3>Se han cargado los datos correctamente</h3>

      </div>

    </div>
  </div>
</div>
-->
<!-- Modal Consulta SQL-->
<div class="modal fade bd-example-modal-lg" id="sqlqueryModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="consulta">Consulta SQL</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f4="ngForm" (ngSubmit)="trysqlquery(f4)" novalidate>
          <div class="form-group">
            <select class="form-control" id="tipo" name="tipo1" #conex="ngModel" ngModel required>
              <option>mysql</option>
              <option>postgresql</option>
              <option>oracle</option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="md-textarea form-control" id="query" name="query1" type="text" rows="5" #conex="ngModel" ngModel required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Realizar Query</button>
        </form>

        <div *ngIf="tablas_componente7">

            <table class="table">
                <thead>
                  <tr>
                    <th *ngFor="let atri of atributos_componente7" scope="col">{{atri}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let datos of tablas_componente7"> <!--Filas -->
                    <td *ngFor="let atri of atributos_componente7">{{datos[atri]}}</td><!--Columnas -->
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar y Salir</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Calculadora-->
<div class="modal fade bd-example-modal-lg "  id="calculadoramodal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="consulta">Calculadora</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
          <select class="form-control" id="sgbd">
            <option *ngIf="con_consultaSQL_calculadora" (click)="eleccionDatos(1)">Consulta SQL</option>
            <option *ngIf="con_extraccionTab_calculadora"(click)="eleccionDatos(2)">Extraccion Tabla</option>
          </select>

        <div *ngIf="datosCalculadora">
            <table *ngIf="opcionDatosCalculadora == 1" class="table">
                <thead>
                    <tr>
                      <th *ngFor="let atri of atributosCalculadora" scope="col">{{atri}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let datos of datosCalculadora"> <!--Filas -->
                      <td *ngFor="let atri of atributosCalculadora">{{datos[atri]}}</td><!--Columnas -->
                    </tr>
                </tbody>
              </table>
          <table *ngIf="opcionDatosCalculadora == 2" class="table">
            <thead>
                <tr>
                  <th *ngFor="let atri of atributosCalculadora" scope="col">{{atri.COLUMN_NAME}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let datos of datosCalculadora"> <!--Filas -->
                  <td *ngFor="let atri of atributosCalculadora">{{datos[atri.COLUMN_NAME]}}</td><!--Columnas -->
                </tr>
            </tbody>
          </table>

          <br><br>
          <div>
            <h4>Operaciones sobre la tabla</h4>
            <form #f3="ngForm" (ngSubmit)="comprobacionCalculos(f3)" novalidate>
              <div class="form-group"> 
                <input type="text" class="form-control" name="calculos" ngModel #calculos="ngModel" placeholder="escriba sus operaciones...">
              </div>
              <button type="submit" class="btn btn-primary">aplicar</button>
            </form>
            <br>
          
            <button class="btn btn-primary" (click)="deshacer()">deshacer cambios</button>
            <br><br>
            <div *ngIf="mensajeCalculadora">
              <h4>{{mensajeCalculadora}}</h4>
            </div>
          </div>
        </div>        
        
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar y Salir</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Carga de Datos-->
<div class="modal fade bd-example-modal-lg "  id="cargarmodal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="consulta">Cargar Datos</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table *ngIf="opcionDatosCalculadora == 1" class="table">
          <thead>
              <tr>
                <th *ngFor="let atri of atributosCalculadora" scope="col">{{atri}}</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let datos of datosCalculadora"> <!--Filas -->
                <td *ngFor="let atri of atributosCalculadora">{{datos[atri]}}</td><!--Columnas -->
              </tr>
          </tbody>
        </table>
        <table *ngIf="opcionDatosCalculadora == 2" class="table">
          <thead>
              <tr>
                <th *ngFor="let atri of atributosCalculadora" scope="col">{{atri.COLUMN_NAME}}</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let datos of datosCalculadora"> <!--Filas -->
                <td *ngFor="let atri of atributosCalculadora">{{datos[atri.COLUMN_NAME]}}</td><!--Columnas -->
              </tr>
          </tbody>
        </table> 

        <form #f5="ngForm" (ngSubmit)="cargarArchivo(f5)" novalidate>
          <div class="form-group"> 
            <input type="text" class="form-control" name="nombreArchivo" ngModel #nombreArchivo="ngModel" placeholder="escriba el nombre del archivo...">
          </div>
          <button type="submit" class="btn btn-primary">Cargar Datos</button>
        </form>
        <br>
        <div *ngIf="mensajeCargaDatos">
          <h4>{{mensajeCargaDatos}}</h4>
        </div>
        
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar y Salir</button>
      </div>
    </div>
  </div>
</div>
